@import "./../../node_modules/awesomplete/awesomplete.css";
@import "./../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./../../node_modules/bootstrap/dist/css/bootstrap-theme.css";
@import "./../../node_modules/dc/dc.css";


.dc-chart g.row text, .dc-chart .pie-slice {
  fill: black;
}

#activityChart rect {
    stroke: grey;
}

svg {
  /*shape-rendering: crispEdges;*/
}

.awesomplete input {
  width: 100%;
}
.awesomplete {
  vertical-align: middle;
}
.awesomplete, #localAuthorityChart > legend > input {
  width: 91.5%;
}

.node rect {
  /*cursor: move;*/
  fill-opacity: .9;
}


.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}


.link:hover {
  stroke-opacity: .5;
}

legend {
  margin-bottom: 0;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
}
.reset {
  float:right;
}

.page-header h1 {
  font-family: 'Open Sans';
  font-size: 18pt;
  color: white;
  text-align: left;
  margin: 0;
  vertical-align: middle;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5em;
}

.page-header {
    margin: 0;
    background-color: #1776B6;
    height: 50px;
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
}

#resetAll {
  position: absolute;
  top: 50%;
  text-align: right;
  right: 0;
  transform: translateY(-50%);
  width: inherit;
}
#resetAll a {
  background: none;
  border-color: #fff;
  color: #fff;
  border-radius: 1px;
  font-family: 'Open Sans';
  font-weight: bold;
  line-height: 0;
}
#resetAll a i {
  margin-right: 6px;
}

body {
  background-color: #F1F1F1;
}
.card.dc-chart {
  float:none;
}
.card {
  background: white;
  box-shadow: 0 0 1px #000;
}

#yearChart.card, #moneyFlowChart.card {
  margin-bottom: 15px;
}

@media only screen and (min-width : 992px) {
  .col-md-3 > .row > div {
    padding-right: 7.5px;
  }
  .col-md-9 > .row > div {
    padding-left: 7.5px;
  }
  .col-md-9 > .row > div > div.row > div.col-md-6 {
    padding: 0;
  }
}

@media only screen and (max-width : 992px) {
  #incomeChart.card,  #activityChart.card, #expenditureChart.card {
    margin-bottom:15px;
  }
  div#moneyFlowChart {
    margin-top: 15px;
  }
}

#moneyFlowChart .node {
    cursor: default;
}

.card legend {
  background: #E7E7E7;
  padding: 5px;
}

div.awesomplete mark:empty {
  background: none;
  display: none;
}
div.awesomplete mark {
  background: none;
  text-decoration: underline;
  padding: 0;
  font-style: oblique;
}
div.awesomplete li:hover mark {
  background: none;
}

a.reset {
    cursor: pointer;
}
